body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-color;
}
h1 {
  font-size: 4.2rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
}
h3 {
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: $primary-color-dark;
}
h4 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  color: $primary-color-dark;
}
h5 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  color: $primary-color-dark;
}
i.icon {
  font-size: 3rem;
  float: right;
}
