@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/base";
@import "base/typography";

@import "layouts/grid";
@import "layouts/navigation";

@import "components/buttons";
@import "components/card";
@import "components/search";
@import "components/popup";

@import "pages/home";
@import "pages/account";
@import "pages/batch";
@import "pages/batchdetails";
@import "pages/evaluation";
