.section-single {
  padding: 10rem 15rem;
  height: 100vh;
  background: linear-gradient(to right, rgba(109, 104, 206, 0.932), #fad693);
  width: 100%;
}
.frame-single {
  @include absoluteCenter;
  background-color: white;
  opacity: 0.8;
  height: 60rem;
  border-radius: 20px;
  display: table;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  width: 80%;
  &__sub {
    width: 2%;
    display: table-cell;
    padding: 1rem 0;
    background-color: rgba(84, 78, 206, 0.932);
    border-radius: 20px;
  }

  &__main {
    width: 98%;
    display: table-cell;
    padding: 1rem 2rem;
    height: 60rem;
    margin-left: 1rem;
  }
}
.section-top {
  height: 7rem;
  padding-top: 1rem;
}
.batch-link {
  color: $primary-color-dark;
}
.batch-link:hover {
  color: white;
}
.image {
  border-radius: 50%;
  width: 70%;
}
i.ion-ios-trash:hover {
  color: rgb(27, 27, 27);
}
i.ion-ios-settings:hover {
  color: rgb(27, 27, 27);
}
i.ion-ios-settings {
  float: none;
  padding-top: 1rem;
  font-size: 2.3rem;
}
i.ion-ios-trash {
  float: none;
  padding-top: 1rem;
  font-size: 2.3rem;
}
