.image-student {
  border-radius: 50%;
  width: 90%;
  margin: 5rem 0;
}
i.square {
  float: none;
}
input.checkbox {
  width: 10%;
}

.student__form {
  @include absoluteCenter;
  background-color: white;
  opacity: 0.8;
  height: 40rem;
  border-radius: 20px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  width: 40%;

  &-content {
    padding: 3rem 2rem;
  }
  &-input {
    width: 90%;
  }
}
.btn-input {
  margin: 2rem 0;
  right: 40%;
  position: relative;
}
