* {
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
}
.containerx {
  background: url(http://embacy.io/images/ver1.svg);
}
.heading {
  font-family: 'Permanent Marker', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 70px;
  line-height: 69px;
  font-weight: bold;
  color: rgb(5, 5, 5);
  transform: translate(60px, 200px);
}
.top-heading {
  font-family: 'Permanent Marker', serif;
  font-size: 70px;
  line-height: 69px;
  font-weight: bold;
  color: rgb(5, 5, 5);
  margin-top: 5%;
  text-align: center;
}
.subheading {
  font-family: 'Alegreya', serif;
  color: rgb(5, 5, 5);
  transform: translate(60px, 210px);
  padding: 5px;
  font-size: 27px;
}
h3 {
  font-family: 'Barlow Condensed', serif;
  text-transform: uppercase;
  font-size: 20px;
}
h4 {
  font-family: 'Barlow Condensed', serif;
  text-transform: uppercase;
  font-size: 17px;
  color: rgb(5, 5, 5);
}
h2 {
  font-family: 'Alegreya', serif;
  color: rgb(5, 5, 5);
  font-size: 23px;
  text-align: center;
}
h5 {
  font-family: 'Barlow Condensed', serif;
  color: rgb(5, 5, 5);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 100;
}
.content {
  font-family: 'Alegreya', serif;
  color: rgb(5, 5, 5);
  font-size: 27px;
}
.content-two {
  font-family: 'Alegreya', serif;
  color: rgb(5, 5, 5);
  padding-top: 3%;
  font-size: 27px;
}
p {
  font-family: 'Alegreya', serif;
  font-size: 18px;
}
mark {
  background-color: red;
}
