* {
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
}
.heading {
  font-family: "Permanent Marker", serif;
  font-size: 70px;
  line-height: 69px;
  font-weight: bold;
  color: rgb(5, 5, 5);
  transform: translate(60px, 200px);
}
.subheading {
  font-family: "Alegreya", serif;
  color: rgb(5, 5, 5);
  transform: translate(60px, 210px);
  padding: 5px;
  font-size: 27px;
}
h3 {
  font-family: "Barlow Condensed", serif;
  text-transform: uppercase;
  font-size: 20px;
}
.content {
  font-family: "Alegreya", serif;
  color: rgb(5, 5, 5);
  font-size: 27px;
}
.content-two {
  font-family: "Alegreya", serif;
  color: rgb(5, 5, 5);
  padding-top: 3%;
  font-size: 27px;
}
p {
  font-family: "Alegreya", serif;
  font-size: 18px;
}
