.card {
  height: 8rem;
  background-color: rgb(232, 236, 253);
  border-radius: 10px;
  padding: 1rem 1rem;
  margin: 2rem 0;
  box-shadow: 0 0.5rem 0.5rem rgba(85, 85, 85, 0.2);
  width: 78%;
}
.student-card {
  height: 15rem;
  //background-color: rgba(249, 250, 252, 0.658);
  border-radius: 10px;
  padding: 2rem 1rem;
  margin: 1rem 0;
  //box-shadow: 0 0.5rem 0.5rem rgba(85, 85, 85, 0.2);
  width: 90%;
}
