.progress {
  background-color: #f9f9f9;
  color: #fff;
  box-shadow: inset 0 1px 1px rgba(100, 100, 100, 0.1);
  box-sizing: initial;
  color: #fff;
  font-size: 11px;
  font-size: 0.6875rem;
  height: 3.5rem;
  line-height: 1.182;
  margin: 6px 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.progress > span {
  background-color: #2bc253;
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: auto;
}
.progress.progress-stacked > span {
  display: inline-block;
  float: left;
}

.progress.progress-stacked > span:last-of-type {
  border-radius: 0 1.3rem 1.3rem 0;
}
.progress.progress-stacked > span:first-of-type {
  border-radius: 1.3rem 0 0 1.3rem;
}
.bg {
  &-red {
    background-color: rgb(203, 45, 62) !important;
  }
  &-yellow {
    background-color: rgb(255, 210, 0) !important;
  }
  &-green {
    background-color: rgb(21, 153, 87) !important;
  }
}
