* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(247, 242, 242);
  font-size: 16px;
}
h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 500;
}
h3 {
  font-weight: 200;
}
